<!DOCTYPE html>
<html ng-app="meanReddit">
  <head>
    <meta charset="utf-8">
    <title>MEAN Reddit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/angularApp.js"></script>
  </head>
  <body>
    <header ng-controller="NavCtrl">
      <nav class="navbar navbar-default navbar-fixed-top navbar-inner" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div id="logo" class="navbar-brand">
              <a href="/#/home">MEAN Reddit</a>
            </div>
          </div>
          <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
            <ul class="nav navbar-nav navbar-right">
              <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
              <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
              <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
              <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div id="main_content" class="container">
      <div id="content" class="col-md-9 center-block">
        <ui-view></ui-view>
      </div>
    </div>

    <script type="text/ng-template" id="/home.html">
      <div class="link row clearfix" ng-repeat="post in posts | orderBy: '-upvotes'">
        <h3 class="title">
          <a href="#/posts/{{post._id}}">{{post.title}}</a>
          <small ng-show="post.author" class="author">posted by <strong>{{post.author}}</strong></small>
        </h3>

        <div class="btn-group">
          <a ng-show="post.link" class="btn btn-default btn-sm" href="{{post.link}}" target="_blank">Visit Link</a>
          <a class="btn btn-default btn-sm" href="#/posts/{{post._id}}">{{post.comments.length}} Comments</a>
        </div>
        <div class="btn-group">
          <a ng-click="incUpvotes(post)" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-chevron-up"></span>
            {{post.upvotes}} Upvotes
          </a>
          <a ng-click="incDownvotes(post)" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-chevron-down"></span>
            {{post.downvotes}} Downvotes
          </a>
        </div>
      </div>

      <div ng-hide="isLoggedIn()">
        <h5>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post or vote.</h5>
      </div>

      <form ng-submit="addPost()" ng-show="isLoggedIn()">
        <h3>Add a new post</h3>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Title" ng-model="title" />
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Link" ng-model="link" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Post</button>
        </div>
      </form>
    </script>

    <script type="text/ng-template" id="/posts.html">
      <div class="page-header">
        <h2 class="title">
          <a ng-show="post.link" href="{{post.link}}" target="_blank">{{post.title}}</a>
          <span ng-hide="post.link">{{post.title}}</span><br>
          <small ng-show="post.author" class="author">posted by <strong>{{post.author}}</strong></small>
        </h2>
      </div>

      <div class="btn-group">
        <a ng-show="post.link" class="btn btn-primary btn-sm" href="{{post.link}}" target="_blank">Visit Link</a>
      </div>
      <div class="btn-group">
        <a ng-click="incUpvotes(post)" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-chevron-up"></span>
          {{post.upvotes}} Upvotes
        </a>
        <a ng-click="incDownvotes(post)" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-chevron-down"></span>
          {{post.downvotes}} Downvotes
        </a>
      </div>

      <h3 class="comments_title">
        {{post.comments.length}} Comments
      </h3>

      <div id="comments" ng-repeat="comment in post.comments | orderBy: '-upvotes'">
        <div class="comment wrapper clearfix">
          <div class="btn-group">
            <a ng-click="incComUpvotes(comment)" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-chevron-up"></span>
              {{comment.upvotes}}
            </a>
            <a ng-click="incComDownvotes(comment)" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-chevron-down"></span>
              {{comment.downvotes}}
            </a>
          </div>
          <p class="lead">{{comment.body}}</p>
          <p><small>Submitted on <strong>{{comment.date | date: "short"}}</strong> by {{comment.author}}</small></p>
        </div>
      </div>

      <div ng-hide="isLoggedIn()">
        <h5>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment or vote.</h5>
      </div>

      <form ng-submit="addComment()" ng-show="isLoggedIn()">
        <h3>Add a new comment</h3>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Comment" ng-model="body" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Add Comment</button>
        </div>
      </form>
    </script>

    <script type="text/ng-template" id="/register.html">
      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>

      <form ng-submit="register()">
        <h3>Register</h3>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" ng-model="user.username" />
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" ng-model="user.password" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </form>
    </script>

    <script type="text/ng-template" id="/login.html">
      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>

      <form ng-submit="logIn()">
        <h3>Log In</h3>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" ng-model="user.username" />
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" ng-model="user.password" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Log In</button>
        </div>
      </form>
    </script>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">MEAN Reddit.</p>
      </div>
    </footer>
  </body>
</html>
