html {
  position: relative;
  min-height: 100%;
}

body {
  /* Move down content for fixed navbar */
  padding-top: 50px;
  padding-bottom: 20px;
   /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#logo {
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: 15px 0;
}

#logo a {
  color: #2F363E;
}

#main_content #content {
  float: none;
}

#main_content {
  padding-bottom: 100px;
}

#main_content .link {
  padding: 2em 1em;
  border-bottom: 1px solid #E9E9E9;
}

#main_content .link .title a {
  color: #FF4500;
}

#main_content .comments_title {
  margin-top: 2em;
}

#main_content #comments .comment {
  padding: 1em 0;
  border-top: 1px solid #E9E9E9;
}

#main_content #comments .comment .lead {
  display: inline-block;
  padding-left: 0.25em;
  margin-bottom: 0.25em;
}

form {
  margin-top: 30px;
}

.navbar-fixed-top {
  border: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}
